{% extends 'base.html.twig' %}

{% block title %}A.I.M - {{slug}} {% endblock %}

{% block body %}
    <h1>Welcome to {{ slug }}</h1>
    <p>This is the home page of the A.I.M application.</p>
    <p>Feel free to explore the features and functionalities.</p>
    <p>Current controller: {{ controller_name }}</p>
    <p>Current slug: {{ slug }}</p>
    <p>Enjoy your stay!</p>
{% endblock %}
