{% extends 'base.html.twig' %}

{% block title %}A.I.M - {% endblock %}

{% block body %}
  {% include 'partials/header.html.twig' %}
    <main class="main">
      <!-- Hero Section -->
        <section id="hero" class="hero section">

          <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row align-items-center mb-5">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="badge-wrapper mb-3">
                  <div class="d-inline-flex align-items-center rounded-pill border border-accent-light">
                    <div class="icon-circle me-2">
                      <i class="bi bi-bell"></i>
                    </div>
                    <span class="badge-text me-3">Fivondronana Voalohany</span>
                  </div>
                </div>

                <h1 class="hero-title mb-4">Helder Camara</h1>

                <p class="hero-description mb-4">
                Hélder Pessoa Câmara, ou plus couramment, Hélder Câmara, né le 7 février 1909 à Fortaleza au Brésil et mort le 27 août 1999 à Recife, est un évêque catholique brésilien, archevêque d'Olinda et Recife de 1964 à 1985, qui est connu pour sa lutte contre la pauvreté dans son diocèse et dans le monde.
                .</p>

                <div class="cta-wrapper">
                  <a href="#" class="btn btn-primary">Discover More</a>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="hero-image">
                  <img src="{{ asset('assetss/img/illustration/illustration-16.webp') }}" alt="Business Growth" class="img-fluid" loading="lazy">
                </div>
              </div>
            </div>

            <div class="row feature-boxes">
              <div class="col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="feature-box">
                  <div class="feature-icon me-sm-4 mb-3 mb-sm-0">
                    <i class="bi bi-gear"></i>
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title">Rapid Deployment</h3>
                    <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="feature-box">
                  <div class="feature-icon me-sm-4 mb-3 mb-sm-0">
                    <i class="bi bi-window"></i>
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title">Advanced Security</h3>
                    <p class="feature-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
                <div class="feature-box">
                  <div class="feature-icon me-sm-4 mb-3 mb-sm-0">
                    <i class="bi bi-headset"></i>
                  </div>
                  <div class="feature-content">
                    <h3 class="feature-title">Dedicated Support</h3>
                    <p class="feature-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </section>
      <!-- /Hero Section -->
      <!-- How We Work Section -->
        <section id="how-we-work" class="how-we-work section">

          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Seha-pibeazana</h2>
            <p>Fikambananana Skoto anatin'ny Organisation Mondiale du Mouvement Scout ny Antilin'i Madagasikara ary manabe zatovo lahy 6 ka hatramin'ny 25 taona. Miompana amin'ny maha olona manontolo ny fanabeazana Antily.</p>
          </div><!-- End Section Title -->

          <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="steps-5">
              <div class="process-container">
              
                <div class="process-item" data-aos="fade-up" data-aos-delay="200">
                  <div class="content">
                    <span class="step-number">01</span>
                    <div class="card-body">
                      <div class="step-icon">
                        <i class="bi bi-house-door-fill"></i>
                      </div>
                      <div class="step-content">
                        <h3> Fikatsahana an'Andriamanitra </h3>
                        <p>

                        </p>
                      </div>
                    </div>
                  </div>
                </div><!-- End Process Item -->

                <div class="process-item" data-aos="fade-up" data-aos-delay="300">
                  <div class="content">
                    <span class="step-number">02</span>
                    <div class="card-body">
                      <div class="step-icon">
                        <i class="bi bi-person-walking"></i>
                      </div>
                      <div class="step-content">
                        <h3>Fikolokoloana vatana sy fahasalamana</h3>
                        <p> </p>
                      </div>
                    </div>
                  </div>
                </div><!-- End Process Item -->

                <div class="process-item" data-aos="fade-up" data-aos-delay="400">
                  <div class="content">
                    <span class="step-number">03</span>
                    <div class="card-body">
                      <div class="step-icon">
                        <i class="bi bi-search"></i>
                      </div>
                      <div class="step-content">
                        <h3>Fahaiza-manavia manavanana</h3>
                        <p>
                        
                        </p>
                      </div>
                    </div>
                  </div>
                </div><!-- End Process Item -->

                <div class="process-item" data-aos="fade-up" data-aos-delay="500">
                  <div class="content">
                    <span class="step-number">04</span>
                    <div class="card-body">
                      <div class="step-icon">
                        <i class="bi bi-rocket-takeoff"></i>
                      </div>
                      <div class="step-content">
                        <h3>Famolavolana toetra</h3>
                        <p>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Process Item -->
                <div class="process-item" data-aos="fade-up" data-aos-delay="600">
                  <div class="content">
                    <span class="step-number">05</span>
                    <div class="card-body">
                      <div class="step-icon">
                        <i class="bi bi-balloon-heart-fill"></i>
                      </div>
                      <div class="step-content">
                        <h3>Fifehezana ny fihetse-po</h3>
                        <p>

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Process Item -->
                <div class="process-item" data-aos="fade-up" data-aos-delay="700">
                  <div class="content">
                    <span class="step-number">06</span>
                    <div class="card-body">
                      <div class="step-icon">
                        <i class="bi bi-rocket-takeoff"></i>
                      </div>
                      <div class="step-content">
                        <h3>Fifandraisana amin'ny hafa</h3>
                        <p>

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Process Item -->
              </div>
            </div>
          </div>

        </section>
      <!-- /How We Work Section -->

      <!-- About Section -->
        <section id="about" class="about section">

          <div class="container">

            <div class="row gy-4">

              <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                <p class="who-we-are">Qui sommes-nous</p>
                <h3>Antilin'i Madagasikara</h3>
                <p class="fst-italic">
                  Fikambananana Skoto anatin'ny Organisation Mondiale du Mouvement Scout ny Antilin'i Madagasikara ary manabe zatovo lahy 6 ka hatramin'ny 25 taona. Miompana amin'ny maha olona manontolo ny fanabeazana Antily, ary Miaina ny: 
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> <span>Fikatsahana an'andriamanitra</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Fikolokoloana vatana sy fahasalamana</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Fahaiza-manavia manavanana</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Famolavolana toetra</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>fifehezana ny fihetse-po</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>fifandraisana amin'ny hafa</span></li>
                </ul>
                <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div>

              <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">
                  <div class="col-lg-6">
                    <img src="assets/img/about/about-portrait-1.webp" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6">
                    <div class="row gy-4">
                      <div class="col-lg-12">
                        <img src="assets/img/about/about-8.webp" class="img-fluid" alt="">
                      </div>
                      <div class="col-lg-12">
                        <img src="assets/img/about/about-12.webp" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </section>
      <!-- /About Section --> 

      <!-- Services Section -->
        <section id="services" class="services section">

          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
          </div><!-- End Section Title -->

          <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row justify-content-center g-5">

              <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
                <div class="service-item">
                  <div class="service-icon">
                    <i class="bi bi-code-slash"></i>
                  </div>
                  <div class="service-content">
                    <h3>Custom Web Development</h3>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="service-link">
                      <span>Learn More</span>
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->

              <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                <div class="service-item">
                  <div class="service-icon">
                    <i class="bi bi-phone-fill"></i>
                  </div>
                  <div class="service-content">
                    <h3>Mobile App Solutions</h3>
                    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus magna justo, lacinia eget consectetur sed. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec rutrum congue leo eget malesuada.</p>
                    <a href="#" class="service-link">
                      <span>Learn More</span>
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->

              <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">
                <div class="service-item">
                  <div class="service-icon">
                    <i class="bi bi-palette2"></i>
                  </div>
                  <div class="service-content">
                    <h3>UI/UX Design</h3>
                    <p>Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                    <a href="#" class="service-link">
                      <span>Learn More</span>
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->

              <div class="col-md-6" data-aos="fade-left" data-aos-delay="200">
                <div class="service-item">
                  <div class="service-icon">
                    <i class="bi bi-bar-chart-line"></i>
                  </div>
                  <div class="service-content">
                    <h3>Digital Marketing</h3>
                    <p>Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit.</p>
                    <a href="#" class="service-link">
                      <span>Learn More</span>
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->

              <div class="col-md-6" data-aos="fade-right" data-aos-delay="300">
                <div class="service-item">
                  <div class="service-icon">
                    <i class="bi bi-cloud-check"></i>
                  </div>
                  <div class="service-content">
                    <h3>Cloud Computing</h3>
                    <p>Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a href="#" class="service-link">
                      <span>Learn More</span>
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->

              <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
                <div class="service-item">
                  <div class="service-icon">
                    <i class="bi bi-shield-lock"></i>
                  </div>
                  <div class="service-content">
                    <h3>Cybersecurity Solutions</h3>
                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec sollicitudin molestie malesuada. Curabitur arcu erat, accumsan id imperdiet et. Proin eget tortor risus.</p>
                    <a href="#" class="service-link">
                      <span>Learn More</span>
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div><!-- End Service Item -->

            </div>

          </div>

        </section>
      <!-- /Services Section -->

    </main>
  {% include 'partials/footer.html.twig' %}
{% endblock %}
